@CHARSET "ISO-8859-1";
body{
	margin: 0;
	background-color:#f7f7f7;
	font-family: 'Poppins', sans-serif;
}
/* 														Header*/
.con{
	
}
.tren{
	height: 44px;
	background-color: white;
	margin-top: 10px;
}
.navbar-inverse {
      background-color: white; 
     border-color: white; 
}
.navbar-inverse .navbar-nav>li>a {
    color: #e54d3f;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
     color: #e54d3f; 
     background-color: white; 
}
a:focus, a:hover {
    
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: black;
    background-color:#f7f7f7;
}


.navbar-inverse .navbar-text {
    color: black;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
     color: black;
     background-color: white; 
     font-size: 20px;
}


.trai{
	
	height: 44px;
	
	float:left;
}
.thongtinbanan{
	line-height: 2;
	font-size:23px;
}
.phai{
	
	height: 44px;
	
	float:right;
}
.icondt{
	    margin-top: 5px;
}
.dienthoai{
	margin-top: 12px;
    font-size: 18px;
    color: #e54d3f;
}
.dongho{
	margin-top: 12px;
    font-size: 18px;
    color: black;
}
.ngonngu{
	color:#5077b8;
}
.duoi{
	height: 74px;
	background-color: white;
	margin-top: 5px;
}
.btnn{
	border: none;
	border-color: #fff;
	
}
.linkh{
	line-height: 5;
	text-decoration: none;
}
.linkheader{
	color:#e33f1f;
	padding-right:20px;
	font-size:15px;
	text-decoration: none;
}
.linkh.a{
	text-decoration: none;
}
ul.nav li > a.linkdangnhap{
	font-size:15px;
	text-decoration: none;
	padding-top: 6px; 
	padding-left: 10px; 
	padding-bottom: 6px; 
	padding-right: 10px; 
	margin-top: 9px; 
	color: #3698ec; 
	font-size: 15px; 
	border: none; 
	margin-right: 10px;
}
.menu-chinh .navbar a.navbar-brand{
	padding: 0px;
}
.menu-chinh .navbar a.navbar-brand>img{
	padding: 10px;
    width: auto;
    height: 100%;
}
div.menu-top ul.navbar-right>li{
	display: inline-block;
}
.can{
	line-height: 5;
}
.btndatban{
	font-size:15px;
	background-color:#5276b7;
	color:#fff;
	margin-left: 20px;
    margin-top: -8px;
}
.btndatban:hover{
	color:black;
}
.conf{
	background-image: url("../images/nen.jpg");
	margin-top: -12px;
	background-repeat:no-repeat;
	height:300px;
}
.conff{
	
	margin-top: -6px;
	
	
}

.timkiem{
	position: relative;
	margin-top:10px;
	background-color:rgba(255,255,255,0.6);
	height: 140px;
	top: 210px;
	
}
.timkiemm{
	position: relative;
	margin-top:10px;
	background-color:#fff;
	height: 140px;
	
	
}
.dbmp{
	font-size:25px;
	line-height: 2;
	color:#9c2f09;
	
}
.timkiemnhc{
	margin-top: 20px;
	text-align: center;
}
.otimk{
	position: relative;
	width:100%;
	height:50px;
	background-color:white;
	border:solid 1px gray;
	opacity:1 ;
}
.ongaythang{
	width:125px;
	height:50px;
	background-color:white;
	border:solid 1px gray;
}
.ndotim{
	line-height: 4;
	
}
.ongaythang{
	line-height: 4;
    padding-left: 17px;
}
.btntk{
	
	background-color:#e86e47;
	color:#fff;
	margin-left: 11px;
    margin-top: 0px;
}

/* 														Footer*/
.footer{
	background-color:white;
	
	margin-top: 10px;
	
	
}
.logoft{
    margin-top: 12px;	    
    margin-left: 2px;
	    
}
.sdtft{
	font-size:16px;
	color:#e44433;
    margin-top: 32px; 
}
.rlinkft{
	margin-top: 12px;	
	
}
.linkft{
	padding-right:20px;
	font-size:15px;
	text-decoration: none; 
	
} 
.bq{
	margin-top: 0px;
}
.dcft{
	margin-top: 15px;  
}
.ketnoict{
	margin-top: 12px;	 
}
.ketnoi{
	font-size:15px;
}
.iconft{
	padding-left: 25px; 
} 
/* 																			Giam Gia*/

.bodygiamgia{
	background-color:#fff;
	margin-top: 55px;
}
.giamgia{
	color:#e33e20;
	font-size:25px;
	line-height: 2;
}
.hinhgiamgia{
	padding-left:9px;
}
.tennhgiamgia{
	color:#e33e20;
	font-size: 18px;
}
.diachinhgiamgia{
	color:black;
}
.ndgiamgia{
	color:#5576b7;
	font-size: 14px;
}
a:hover{
	text-decoration: none;
	color:none;
}
.xemthemgiamgia{
	color:#5272b5;
	font-size: 15px;
}
.linkxemthemgiamgia{
	padding-top: 20px;
    padding-bottom: 12px;
}
 /*															 Slide */
 .slide{
 	background-color:white;
 	margin-top: 5px;
 	
 }
.math{
	color:#e2312a;
	font-size:25px;
}
.monanth{
	margin-top: 10px;
}
.rslide{
	margin-bottom: 12px;
}
/*																				De Xuat*/
.bodydexuat{
	background-color:white;
	margin-top:5px;
}
/*																 Chi Tiet Nha Hang */
.ctnh{
	margin-top: 5px;
	background-color:white;
}
.imgctnh{
	margin-left: -15px;
}
.dckv{
	color:#568fcb;
}
.dckhuvuc{
	line-height: 5;
}
.rtenctnh{
	
}
.rdcctnh{
	margin-top: 10px;
}
.tenctnh{
	font-size:24px;
}
.btndatchongay{
	color:white;
	font-size:15px;
}
.rdatcho{
	margin-top: 20px;
}
.diemdg{
	font-size:24px;
	line-height: 4;
}
.saodanhgia{
	line-height: 6;
}
.dangmocua{
	color: green;
}
.giatbctnh{
	margin-top: 25px;
}
.lhctnh{
    margin-top: 25px;	
}
/* 								Chuong Trinh Khuyen Mai*/
.conctkm{
	margin-top: 10px;
	background-color:white;
}
.ctkm{
	font-size:24px;
	color:#e3411f;
	line-height: 2;
}
.btndatngay{
	color:white;
	font-size:15px;
}
.ndkmctnh{
	color:green;
}
.rkmctnh{
	line-height: 4;
	margin-bottom: 10px;
}
/*											Gioi Thieu */
.gioithieuctnh{
	background-color:white;
	margin-top:10px;
	line-height: 2;
}
.rgtctnh{
	line-height: 4;
}
.gtctnh{
	color:#e3421f;
	font-size:24px;
}
.rndgtctnh{
    margin-bottom: 20px;	
}
/*											Mon An	*/
.cmonan{
	background-color:white;
	margin-top:10px;
	margin-bottom:20px;
	line-height: 2;
}
.monan{
	color:#e3421f;
	font-size:24px;
}
.giamonan{
	font-size: 15px;
}
.tenmonan{
    margin-top: 12px;    	
}
.gmonan{
    margin-top: 12px;	
    text-align: right;
}
.ndmonan{
    padding-left: 30px;
}
.xtmonan{
	color:#5272b5;
	font-size:24px;
	
}
.coxtmonan{
	margin-top: 30px;
    margin-bottom: 20px;
}
/*												Hinh Anh */
.bodyhinhanh{
	background-color:white;
}
.rhinh{
	margin-top:14px;
}
/*									Danh Gia */
.danhgia{
	background-color:white;
	margin-top:10px;
	margin-bottom:10px;
}
.rtddg{
	margin-top:5px;
}
.dgnh{
	font-size:24px;
	color:#e3431f;
	
}
.mucdg{
	line-hight:2;
}
.colsodg{
	/* padding-left: 132px; */
    margin-top: 12px;
}
.mucdodg{
	width:150px;
	height:20px;
	background-color:gray;
}
.mucdodg1{
	width:150px;
	height:20px;
	background-color:gold;
}
.rmucdg{
	margin-top:15px;
}
.diemdgtb{
	font-size:32px;
}
.tddiemdg{
	font-size:15px;
}
.rsaodg{
	margin-top: 10px;
}
.btnthemdg{
	font-size:15px;
}
.ttdg{
	font-size:24px;
}
.rcldg{
	margin-top: 20px;
}
.sottdg1{
	font-size:24px;
	padding-left: 17px;
}
.sottdg2{
	font-size:24px;
	padding-left: 27px;
}
.sottdg3{
	font-size:24px;
	padding-left: 44px;
}
.sottdg4{
	font-size:24px;
	padding-left: 17px;
}
.timdg{
	float:right;
	font-size:24px;
	display: none;
}
.nddg{
	margin-top: 5px;
}
.saonddg{
	width: 30px;
    height: 30px;
}
.colnddg{
	margin-top: 10px;
}
.noidungdg{
	background-color:#f1f1f1;
}
.xemthemdg{
	color:#536fb2;
	font-size:15px;
}
.rxtdg{
	margin-bottom: 8px;
}
/*											Ban Do 		*/
.bando{
	background-color:white;
	margin-top:10px;
}
.bandoctnh{
	color:#e3431f;
	font-size:24px;
	line-height: 2;
}
.cobd{
	margin-bottom: 12px;
}
/*											Uu Diem		*/
.uudiem{
	background-color:white;
	margin-top:10px;
}
.tenuudiem{
	font-size:15px;
	
}
.ud{
	line-height: 2;
}
.nduudiem{
	margin-bottom:10px;
}
.giantoptennh{
	margin-top: 10px;
}
@media (min-width:992px){
	div.duoi>div.col-md-2.can{
		width: 12%;
	}
}
.timtheodc{
	padding-top: 22px;
}
.timkiemctnh{
	margin-top: 52px;
}
.rregisters{
        margin-top: 25px;
}
.rodk{
    margin-bottom: 50px;
}
.labeld{
	float: left;
	font-weight: bold; 
	margin-top: 10px;
}
.error{
	color:red;
	font-weight:normal;
	float: left;
}
/* .form-group:after{
	content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
} */

.menu-top{
	margin-bottom: -15px;
}
.menu-chinh{
	margin-bottom: -10px;
}
/*								Dat Ban*/
.cdatban{
	background-color:white;
}
.formdatban{
	border: 1px solid #dcdada;
	min-height: 400px;
}
.coldatban{
	min-height: 500px;
}
	

.rdatban{
	margin-top:20px;
}
.rdcnhdb{
	margin-bottom:20px;
}
.dbtennhahang{
	color:#e33e20;
}
.cdbthongtin{
	background-color:#f7f7f7;
}
.dbttkm{
	margin-bottom: 20px;
}
.pdatbanttkm{
    margin-top: 10px;
}
.cotkrdn{
	margin-top: 10px;
}
.rdbho{
	margin-top:20px;
}
.chontg{
	height: 25px;
    width: 80%;
}
.optionheight{
	height: 25px;
	width: 80%;
}
.xndatcho{
	width: 76%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tieudegtctnh{
	font-size:20px;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after,
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after, 
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after{
	color: gold;
}
.barChart__bar{
	background: whitesmoke; 
}
.barChart__barFill{
	background: gold;
}












